<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>defect_type</key>
	<array>
		<dict>
			<key>key</key>
			<string>DD</string>
			<key>value</key>
			<string>DD</string>
		</dict>
		<dict>
			<key>key</key>
			<string>TS</string>
			<key>value</key>
			<string>Defect Report</string>
		</dict>
		<dict>
			<key>key</key>
			<string>NRR</string>
			<key>value</key>
			<string>NRR</string>
		</dict>
	</array>
	<key>total_status</key>
	<dict>
		<key>offline</key>
		<string>initial</string>
		<key>lm_leader</key>
		<string>lm confirm</string>
		<key>a_mcc</key>
		<string>waiting</string>
		<key>a_received</key>
		<string>submitted</string>
		<key>backed</key>
		<string>reject</string>
		<key>converted</key>
		<string>mcc confirm</string>
		<key>closed</key>
		<string>closed</string>
		<key>deserted</key>
		<string>deserted</string>
	</dict>
	<key>offline</key>
	<array>
		<dict>
			<key>key</key>
			<string>offline</string>
			<key>value</key>
			<string>initial</string>
		</dict>
		<dict>
			<key>key</key>
			<string>lm_leader</string>
			<key>value</key>
			<string>lm confirm</string>
		</dict>
		<dict>
			<key>key</key>
			<string>a_received</string>
			<key>value</key>
			<string>submitted</string>
		</dict>
		<dict>
			<key>key</key>
			<string>backed</string>
			<key>value</key>
			<string>reject</string>
		</dict>
		<dict>
			<key>key</key>
			<string>converted</string>
			<key>value</key>
			<string>mcc confirm</string>
		</dict>
		<dict>
			<key>key</key>
			<string>closed</string>
			<key>value</key>
			<string>closed</string>
		</dict>
	</array>
	<key>lm_leader</key>
	<array>
		<dict>
			<key>key</key>
			<string>lm_leader</string>
			<key>value</key>
			<string>lm confirm</string>
		</dict>
		<dict>
			<key>key</key>
			<string>a_received</string>
			<key>value</key>
			<string>submitted</string>
		</dict>
		<dict>
			<key>key</key>
			<string>backed</string>
			<key>value</key>
			<string>reject</string>
		</dict>
		<dict>
			<key>key</key>
			<string>converted</string>
			<key>value</key>
			<string>mcc confirm</string>
		</dict>
		<dict>
			<key>key</key>
			<string>closed</string>
			<key>value</key>
			<string>closed</string>
		</dict>
	</array>
	<key>nrr_insp</key>
	<array>
		<dict>
			<key>key</key>
			<string>0</string>
			<key>value</key>
			<string>15 DAYS</string>
		</dict>
		<dict>
			<key>key</key>
			<string>1</string>
			<key>value</key>
			<string>7 DAYS</string>
		</dict>
		<dict>
			<key>key</key>
			<string>2</string>
			<key>value</key>
			<string>A-CHECK</string>
		</dict>
		<dict>
			<key>key</key>
			<string>3</string>
			<key>value</key>
			<string>C-CHECK</string>
		</dict>
		<dict>
			<key>key</key>
			<string>4</string>
			<key>value</key>
			<string>DAILY</string>
		</dict>
		<dict>
			<key>key</key>
			<string>5</string>
			<key>value</key>
			<string>ENG-RPL</string>
		</dict>
		<dict>
			<key>key</key>
			<string>6</string>
			<key>value</key>
			<string>EO</string>
		</dict>
		<dict>
			<key>key</key>
			<string>7</string>
			<key>value</key>
			<string>NIG-RPL</string>
		</dict>
		<dict>
			<key>key</key>
			<string>8</string>
			<key>value</key>
			<string>TRANSIT</string>
		</dict>
		<dict>
			<key>key</key>
			<string>9</string>
			<key>value</key>
			<string>WEEKLY</string>
		</dict>
		<dict>
			<key>key</key>
			<string>10</string>
			<key>value</key>
			<string>WO</string>
		</dict>
		<dict>
			<key>key</key>
			<string>11</string>
			<key>value</key>
			<string>CABINSP</string>
		</dict>
		<dict>
			<key>key</key>
			<string>12</string>
			<key>value</key>
			<string>M</string>
		</dict>
		<dict>
			<key>key</key>
			<string>13</string>
			<key>value</key>
			<string>O</string>
		</dict>
		<dict>
			<key>key</key>
			<string>14</string>
			<key>value</key>
			<string>OD</string>
		</dict>
		<dict>
			<key>key</key>
			<string>15</string>
			<key>value</key>
			<string>PARKING</string>
		</dict>
		<dict>
			<key>key</key>
			<string>16</string>
			<key>value</key>
			<string>PF</string>
		</dict>
		<dict>
			<key>key</key>
			<string>17</string>
			<key>value</key>
			<string>PRE-FLT</string>
		</dict>
		<dict>
			<key>key</key>
			<string>18</string>
			<key>value</key>
			<string>PREFLIG</string>
		</dict>
		<dict>
			<key>key</key>
			<string>19</string>
			<key>value</key>
			<string>`</string>
		</dict>
	</array>
	<key>nrr_insp_value</key>
	<array>
		<string>15 DAYS</string>
		<string>7 DAYS</string>
		<string>A-CHECK</string>
		<string>DAILY</string>
		<string>C-CHECK</string>
		<string>ENG-RPL</string>
		<string>EO</string>
		<string>NIG-RPL</string>
		<string>TRANSIT</string>
		<string>WEEKLY</string>
		<string>WO</string>
		<string>CABINSP</string>
		<string>M</string>
		<string>O</string>
		<string>OD</string>
		<string>PARKING</string>
		<string>PF</string>
		<string>PRE-FLT</string>
		<string>PREFLIG</string>
		<string>`</string>
	</array>
	<key>nrr_skill</key>
	<array>
		<dict>
			<key>key</key>
			<string>0</string>
			<key>value</key>
			<string>ME</string>
		</dict>
		<dict>
			<key>key</key>
			<string>1</string>
			<key>value</key>
			<string>AV</string>
		</dict>
		<dict>
			<key>key</key>
			<string>2</string>
			<key>value</key>
			<string>SM</string>
		</dict>
		<dict>
			<key>key</key>
			<string>3</string>
			<key>value</key>
			<string>49</string>
		</dict>
		<dict>
			<key>key</key>
			<string>4</string>
			<key>value</key>
			<string>EL</string>
		</dict>
	</array>
	<key>nrr_skill_value</key>
	<array>
		<string>ME</string>
		<string>AV</string>
		<string>SM</string>
		<string>49</string>
		<string>EL</string>
	</array>
	<key>nrr_status</key>
	<array>
		<dict>
			<key>key</key>
			<string>0</string>
			<key>value</key>
			<string>Open</string>
		</dict>
		<dict>
			<key>key</key>
			<string>1</string>
			<key>value</key>
			<string>Closed</string>
		</dict>
	</array>
</dict>
</plist>
